<html>
  <head>
    <title>Discovery Space Museum</title>
    <!-- CSS -->
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/theme.css') }}">
    {% block css %}{% endblock %}
    <!-- JavaScript -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div id="header">
            <div id="logo" onclick="location.href='/home'"></div>
            {% if session.authenticated %}
                <div id="logout" onclick="location.href={{ url_for('logout') }}"></div>
            {% else %}
                <div id="login" onclick="location.href={{ url_for('logout') }}"></div>
            {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
