{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/challenge.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <!-- Display game information.-->
    <div class="section_title">{{ game.title }}</div>
    <div class="section_title_divider"></div>
    <div class="section_content">
        <h3>{{ game.description }}</h3>
        <!-- Display question.-->
        <h4>{{ question.question }}</h4>

        <!-- Input box for RFID tag.-->
        <p>Scan an object that answers the above question!</p>
        <input name="game_id" type="hidden" value="{{ game.id }}" />
        <input name="question_id" type="hidden" value="{{ question.id }}" />
        <input id="tag" name="tag" type="text" />
        <br><br>
        <form action="" method="post" name="move">
        {% if question.id != min_id %}
            <input name="previous_question" type="submit" value="Previous Question" />
        {% endif %}
        {% if question.id != max_id %}
            <input name="next_question" type="submit" value="Next Question" />
        {% endif %}
            <input name="finish" type="submit" value="Finish" />
        </form>

        <p id="back"><a href="{{ url_for('games') }}">Back to Games</a></p><br>
    </div>

    <!-- Modal display.-->
    <div id="challengeModal" class="modalwindow">
        <a href="#" class="close">X</a>
        <div class="modal-content" id="challenge-content">
        </div>
    </div>

{% endblock %}
