{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/learning.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <!-- Display game information.-->
    <div class="section_title">{{ game.title }}</div>
    <div class="section_title_divider"></div>
    <div class="section_content">
        <h4>{{ game.description }}</h4>

        <!-- Input box for RFID tag.-->
        <p>Scan object!</p>
        <input name="game_id" type="hidden" value="{{ game.id }}" />
        <input id="tag" name="tag" type="text" />

        <p id="back"><a href="{{ url_for('games') }}">Back to Games</a></p>
    </div>

    <!-- Modal display.-->
    <div id="learningModal" class="modalwindow">
        <a href="#" class="close">X</a>
        <div class="modal-content" id="learning-content">
        </div>
    </div>

    <!-- Shade for modal display -->
    <div class="shade"></div>

{% endblock %}
