{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/learning.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <!-- Display game information.-->
    <div>
        <h1>{{ game.title }}</h1>
        <h2>{{ game.description }}</h2>
    </div>

    <!-- Input box for RFID tag.-->
    <p>Scan object!</p>
    <input name="game_id" type="hidden" value="{{ game.id }}" />
    <input name="tag" type="text" value="RFID Tag" />
    <button type="button">Submit</button>

{% endblock %}
