{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Member Information:</h1>
        <h2>Number of Visits: {{ num_visits }}</h2>
        <h2>Last Visit: {{ last_visit.strftime('%m-%d-%Y %H:%M:%S') }}</h2>
        <!-- Form to change member information.-->
        <form action="" method="post" name="add_member">
            <p>First Name: <input name="first_name" type="text" value="{{ member.member_first_name }}" /></p>
            <p>Last Name: <input name="last_name" type="text" value="{{ member.member_last_name }}" /></p>
            <p>Card Number: <input name="new_tag" type="text" value="{{ member.card_number }}" /></p>
            <input name="update_member" type="submit" value="Update" />
        </form>

        <!-- Form for admins to delete member.-->
        {% if session.authenticated %}
            <form action="" method="post" name="delete_member">
                <input name="member_id" type="hidden" value="{{ member.id }}" />
                <td><input name="the_member" type="submit" value="Delete Member" /></td>
            </form>
        {% endif %}
    </div> 
{% endblock %}
