{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#first_name").focus();
            window.scrollTo(0,0);
        });
    </script>
{% endblock scripts %}

{% block content %}
    <div class="section_title">{{ member.member_first_name }} {{ member.member_last_name }}'s Information:</div>
    <div class="section_title_divider"></div>
    <div class="section_content">
        <h4>Number of Visits: {{ num_visits }}</h4>
        <h4>Last Visit: {{ last_visit.strftime('%m-%d-%Y %H:%M:%S') }}</h4>
        <div class="section_title_divider"></div>
        <!-- Form to change member information.-->
        <h4>Edit Information:</h4>
        <form action="" method="post" name="add_member">
            <p>First Name: <input id="first_name" name="first_name" type="text" value="{{ member.member_first_name }}" /></p>
            <p>Last Name: <input name="last_name" type="text" value="{{ member.member_last_name }}" /></p>
            <p>Card Number: <input name="new_tag" type="text" value="{{ member.card_number }}" /></p>
            <input name="update_member" type="submit" value="Update" />
        </form>
        <div class="section_title_divider"></div>
        <br>
        <!-- Form for admins to delete member.-->
        {% if session.authenticated %}
            <form action="" method="post" name="delete_member">
                <input name="member_id" type="hidden" value="{{ member.id }}" />
                <td><input name="the_member" type="submit" value="Delete Member" /></td>
            </form>
        {% endif %}
    </div> 
{% endblock %}
